* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease; /* for smooth transitions */
}

body {
  font-family: 'Arial', sans-serif;
  background: url("https://wallpaperaccess.com/full/627955.jpg") no-repeat center center fixed;
  background-size: cover; 
  color: #FF6B6B;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
  padding: 10px 50px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

nav img {
  width: 50px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #FF6B6B;
  color: #FFFFFF;
  transition: transform 0.3s ease;
}

nav a:hover {
  transform: scale(1.1); /* hover effect */
}

nav a.active {
  background-color: #FF8B8B;
  pointer-events: none; /* to disable clicking on the active link */

}
@keyframes buttonClick {
  50% {
      transform: scale(0.95);
  }
  100% {
      transform: scale(1);
  }
}

main {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* for a bit of overlay to ensure text readability */
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}
nav a {
  /* ... other styles ... */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Separate transitions for different properties */
}

nav a:hover {
  transform: scale(1.1); /* hover effect */
  background-color: #FF8B8B; /* Lighter shade for hover */
}

nav a:active {
  animation: buttonClick 0.2s ease;
  background-color: #FF6B6B; /* Original color */
}
nav a {
  color: #723a3a; /* Ensure this color contrasts well with the background color */
}

