<%- include('../partials/header') %>

<form id="new-form" action="/tvshows" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>MPAA Rating</label>
  <select name="mpaaRating">
    <option value="TV-Y">TV-Y</option>
    <option value="TV-G">TV-G</option>
    <option value="TV-MA">TV-MA</option>
    <option value="TV-PG">TV-PG</option>
  </select>
  <label>Now Showing:</label>
  <input type="checkbox" name="nowShowing" checked>
  <input type="submit" value="ADD TVSHOW">
</form>

<%- include('../partials/footer') %>
